# Dependencias
node_modules/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno
.env
.env.local
.env.*.local

# Caché y builds
dist/
build/
.cache/
.vite/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Editores / IDE
.vscode/
.idea/
*.swp
*.swo
